*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.navbar .navbar-brand {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}
.section-bg{
    background-color: #f7f9ff;
}
.navbar .navbar-brand span {
    font-size: 26px;
    margin-right: 10px;
    background-color: #6177dd;
    padding: 3px 8px;
    border-radius: 10px;
}
.navbar-collapse{
    margin-left: 100px;
}
.nav-item .nav-link{
    color: black !important;
    font-size: 16px;
    letter-spacing: 1px;
}
.nav-item .nav-link:hover{
        color: #6177dd !important;
}
.dropdown-menu .dropdown-item:hover{
    color: #6177dd !important;
}
.slider-section{
   background: url("img/mbr-10.JPG") no-repeat center center;
   padding: 120px 0px;
   position: relative;
   z-index: 1;

}
.slider-section::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: -1;
}
.slider-parent{
    width: 50% !important;
}
.slider-section-content{
    /* position: relative;
    top: -100px; */

}
.slider-section-content h4{
    font-size: 25px;
    font-weight: 300;

}
.slider-section-content h2{
    font-size: 44px;
    font-weight: 500;
    padding: 32px 0px 0px 0px;
}
.btn-info{
    background-color: #5ba533;
    border-color: #5ba533;
    color: #ffffff;
}
.btn-info:hover{
    background-color: white;
    color: #6278df;
    border-color: #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;
}
.form-parent input{
    border: 1px solid #5ba533;
    padding: 19px 24px;
    /* color: red; */
}
.form-parent{
    /* position: relative;
    top: -100px; */
    padding: 48px 0px;
}
.form-parent a{
    padding: 19px 24px;
    letter-spacing: 1px;
}
.single-timer-wrapper{

}
.single-timer-wrapper h3{
    font-size: 57px;
    font-weight: 500;

}
.single-timer-wrapper p{
    font-size: 1.3rem;
    font-weight: 500;
}
.about .about-text h3{
    font-size: 44px;
    font-weight: 500;

}
.about .about-text p{
    font-size: 20px;
    padding: 24px 0px 8px 0px;
}
.feature-text h3{
    font-size: 44px;
}
.feature-text p{
    font-size: 25px;
    font-weight: 300;
}
.feature-item{
    height: 250px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.feature-item:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);

}
.feature-img-left{
    width: 40%;
    overflow: hidden;

}
.feature-img-left img{
    height: 100%;
    width: auto;
    max-width: inherit;
    position: relative;
    /* left: -115px; */
    border-radius: 10px 0px 0px 10px;
}
.feature-text-right{
    width: 60%;
}
.feature-text-right h5{
    font-size: 20px;
    font-size: 500;
}
.feature-text-right p{
    font-size: 16px;
    font-weight: 300;
    line-height: ;
}

/* .portfolio-item */
.portfolio-item a{
    position: relative;
    display: block;

}
.portfolio-item a::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #5c70c8a6;
    visibility: hidden;
    /* transition: 0.4s ease-in-out; */
}
.portfolio-item:hover a::after{
    visibility: visible;
    /* transition: .4s; */
}















/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .slider-section{
        /* height: 100vh; */
    }
    .slider-parent{
        width: 100% ;
    }

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }





